# 1. 编译产物
target/
**/*.rs.bk

# 2. IDE 配置
.idea/
.vscode/
!editors/vscode/.vscode/
.cursor/
*.iml
*.swp
.DS_Store
.claude/
/AGENTS.md

# 3. commit 消息
COMMIT_MSG.txt

# 4. 临时文件
tmp/
*.log

# 5. 根目录临时文件
/*.rs
/*.lcy
/*.ll
/*.out

# 6. test
/lency*.txt


# 7. Python
__pycache__/

