# 1. 编译产物
target/
**/*.rs.bk

# 2. IDE 配置
.idea/
.vscode/
!editors/vscode/.vscode/
*.iml
*.swp
.DS_Store
.claude/

# 3. 依赖锁文件 (库项目通常提交，但作为 Workspace 应用，建议提交)
# Cargo.lock

# 4. 临时文件
tmp/
*.log

# 5. Root Temporary Files
/*.rs
/*.lcy
/*.ll

# 6. test


# 7. Python
__pycache__/

# 8. commit 消息
COMMIT_MSG.txt
